
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
}

.mainContent{
   height: 94vh !important;
   overflow-x: hidden;
   overflow-y: scroll;
}

.card-header{

   font-size: 17px;
   font-weight: 500;
   /* background-color: #034a93 !important;
   color: #fff !important; */
}

.card-body{

   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
}

.card-body.hasTable{
   /* padding: 0.5rem 0.3rem 0.3rem 0.3rem !important; */
   padding: 0.5rem !important;
}

.card-body.filters{

   padding-left: 1.5rem;
}

.card-body table{
   margin-bottom: 0 !important;
}

[class *= "col-md-"]{
   padding-left: 0 !important;
}

#app{

   width: 99%;
}

.navbar{

   width: 101%;
}

.navbar .container {
   max-width: 1840px;
}

.navbar-brand{

   font-weight: 500;
}

.row .container {
   /* max-width: 1630px; */
   max-width: 1680px;
   padding-left: 1rem;
}


.login-page{

   margin-left: -11rem;
   margin-top: 2rem !important;
}

.groupButtons{

   display: flex;
   gap: 0.5rem;
   flex-direction: row-reverse;
   margin-right: -1.5rem;
}

.groupFilters{

   margin-top: 1rem !important;
   display: flex;
   gap: 1rem;
   white-space: nowrap;
}

table thead tr th {
   white-space: nowrap;
   font-weight: 500;
   font-size: 16px;
   text-align: center;
}

table tbody tr td {
   white-space: nowrap;
   text-align: center;
}

.horizontalScroll{

   width: 62.6vw;
   overflow-x: scroll;
   overflow-y: hidden;
}

.verticalScroll{

   height: 52rem;
   overflow-x: hidden;
   overflow-y: scroll;
}

